/********************* TAGS ********************/
a {
  color: #11999E;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: white;
  text-align: center;
}

h1 {
  color: #66BFBF;
  font-family: 'Ms Madi', cursive;
  font-size: 5.625rem;
  line-height: 2;
  margin: 0;
}
h2 {
  color: #66BFBF;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 20px;
}
h3 {
  color: #11999E;
  font-family: "Josefin Sans", sans-serif;
}

hr {
  border: 8px;
  border-style: dotted none none none;
  border-color: #EAF6F6;
  clear: right;
  margin: 30px auto;
  width: 5%;
}

p{
  color: #40514E;
  line-height: 2;
}



/**************************** CLASSES **************************/

.bottom-cloud {
  position: absolute;
}

.bottom-container {
  background-color: #66BFBF;
  margin-bottom: 0;
  padding: 40px;
}

.bottom-p {
  margin-bottom: 0;
  padding: 0 0 20px;
  color: #EAF6F6;
}

.btn {
  background-color: #66BFBF;
  border-radius: 10%;
  color: white;
  margin: 30px auto;
}

.contact-me {
  margin: 20px auto;
}

.footer-link {
  padding: 20px;
}

.intro {
  width: 30%;
  margin: 0 auto;
}

.laptop-image {
  border-radius: 100%;
  float: left;
  width: 30%;
}

.middle-container {
  margin: 100px 0;
}

.reading-sticker {
  float: right;
  width: 30%;
}

.skill-row {
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;

}

.top-cloud {
  position: relative;
  left: 200px;

}

.top-container {
  background-color: lightblue;
  margin: 0 auto 0 auto;
  position: relative;
  padding-top: 50px;
}
